<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="STARTAPP" value="\LGChem\GMES2.0\Updater\LGC.GMES.MES.Updater.exe"/>
    <add key="LANGID" value="ko-KR"/>
  </appSettings>
</configuration>