<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="STARTAPP" value="\LLGChem\GMES2.0\MainFrame\VER_20241003_01\LGC.GMES.MES.MainFrame.exe"/>

    <add key="DEV_MES_BizActorIP" value="165.244.95.228"/>
    <add key="DEV_MES_BizActorProtocol" value="tcp"/>
    <add key="DEV_MES_BizActorServiceIndex" value="0"/>
    <add key="DEV_MES_BizActorPort" value="7865"/>
    <add key="DEV_MES_BizActorServiceMode" value="SERVICE"/>
    <add key="DEV_MES_GLABELAccess" value="D"/>

    <add key="REAL_MES_BizActorIP" value="165.244.95.228"/>
    <add key="REAL_MES_BizActorProtocol" value="tcp"/>
    <add key="REAL_MES_BizActorServiceIndex" value="0"/>
    <add key="REAL_MES_BizActorPort" value="7865"/>
    <add key="REAL_MES_BizActorServiceMode" value="SERVICE"/>
    <add key="REAL_MES_GLABELAccess" value="D"/>

    <add key="GMES-E-KR_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-E-KR_BizActorProtocol" value="tcp"/>
    <add key="GMES-E-KR_BizActorServiceIndex" value="0"/>
    <add key="GMES-E-KR_BizActorPort" value="7865"/>
    <add key="GMES-E-KR_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-E-KR_GLABELAccess" value="D"/>
  </appSettings>
</configuration>