<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="STARTAPP" value="\LGChem\GMES2.0\MainFrame\VER_20241003_01\LGC.GMES.MES.MainFrame.exe"/>

    <!--개발-->
    <add key="GMES-A-KR_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-A-KR_BizActorProtocol" value="tcp"/>
    <add key="GMES-A-KR_BizActorServiceIndex" value="0"/>
    <add key="GMES-A-KR_BizActorPort" value="7865"/>
    <add key="GMES-A-KR_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-A-KR_GLABELAccess" value="D"/>

    <add key="GMES-E-KR_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-E-KR_BizActorProtocol" value="tcp"/>
    <add key="GMES-E-KR_BizActorServiceIndex" value="0"/>
    <add key="GMES-E-KR_BizActorPort" value="7865"/>
    <add key="GMES-E-KR_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-E-KR_GLABELAccess" value="D"/>

    <add key="GMES-P-KR_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-P-KR_BizActorProtocol" value="tcp"/>
    <add key="GMES-P-KR_BizActorServiceIndex" value="0"/>
    <add key="GMES-P-KR_BizActorPort" value="7865"/>
    <add key="GMES-P-KR_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-P-KR_GLABELAccess" value="D"/>

    <add key="GMES-E-NJ_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-E-NJ_BizActorProtocol" value="tcp"/>
    <add key="GMES-E-NJ_BizActorServiceIndex" value="0"/>
    <add key="GMES-E-NJ_BizActorPort" value="7865"/>
    <add key="GMES-E-NJ_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-E-NJ_GLABELAccess" value="D"/>

    <!--단위테스트-->
    <!--<add key="GMES-A-KR_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-A-KR_BizActorProtocol" value="tcp"/>
    <add key="GMES-A-KR_BizActorServiceIndex" value="3"/>
    <add key="GMES-A-KR_BizActorPort" value="7870"/>
    <add key="GMES-A-KR_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-A-KR_GLABELAccess" value="D"/>

    <add key="GMES-E-KR_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-E-KR_BizActorProtocol" value="tcp"/>
    <add key="GMES-E-KR_BizActorServiceIndex" value="3"/>
    <add key="GMES-E-KR_BizActorPort" value="7870"/>
    <add key="GMES-E-KR_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-E-KR_GLABELAccess" value="D"/>

    <add key="GMES-P-KR_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-P-KR_BizActorProtocol" value="tcp"/>
    <add key="GMES-P-KR_BizActorServiceIndex" value="3"/>
    <add key="GMES-P-KR_BizActorPort" value="7870"/>
    <add key="GMES-P-KR_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-P-KR_GLABELAccess" value="D"/>

    <add key="GMES-E-NJ_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-E-NJ_BizActorProtocol" value="tcp"/>
    <add key="GMES-E-NJ_BizActorServiceIndex" value="3"/>
    <add key="GMES-E-NJ_BizActorPort" value="7870"/>
    <add key="GMES-E-NJ_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-E-NJ_GLABELAccess" value="D"/>-->
  
  </appSettings>
</configuration>