<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LGC.GMES.MES.BOX001.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LGC.GMES.MES.BOX001.Properties.Settings>
            <setting name="MinPort" serializeAs="String">
                <value>1040</value>
            </setting>
            <setting name="MaxPort" serializeAs="String">
                <value>1041</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.215.158</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrtModel" serializeAs="String">
                <value>Z</value>
            </setting>
        </LGC.GMES.MES.BOX001.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
