<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="GLOBAL_CONFIG_FILE_PATH" value= "C:\GMES\SFU\"/>
    <add key="GLOBAL_CONFIG_FILE_NAME" value="GMES.MES.Customconfig.confg"/>
    <add key="EQP_TEST_FILE_NAME" value="GMES.MES.EQP_TEST.confg"/>
    <add key="APP_CONFIG_MODE" value="DEBUG"/>
    <add key="APP_CONFIG_SYSTEM" value="SFU"/>
    <add key="APP_CONFIG_SBC_MODE" value="LOCAL"/>
    <add key="APP_CONFIG_REMOTE_CALL_SYSTEM" value="SOLACE"/>
    <add key="APP_SERVER" value="[DEV]"/>
    <add key="UPDATEVERSIONFILE" value="LGC.GMES.MES.UpdateVersion.config"/>

    <!-- 개발 전극 -->
    <add key="GMES-E-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-E-HD1_VPNNAME" value="default"/>
    <add key="GMES-E-HD1_ID" value="admin"/>
    <add key="GMES-E-HD1_PW" value="admin"/>
    <add key="GMES-E-HD1_PROPERTIES" value=""/>
    <add key="GMES-E-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES/BIZACTOR_MES/ELTR"/>
    <!--개발 조립 -->
    <add key="GMES-A-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-A-HD1_VPNNAME" value="default"/>
    <add key="GMES-A-HD1_ID" value="admin"/>
    <add key="GMES-A-HD1_PW" value="admin"/>
    <add key="GMES-A-HD1_PROPERTIES" value=""/>
    <add key="GMES-A-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES/BIZACTOR_MES/ASSY"/>
    <!-- 개발 활성화 -->
    <add key="GMES-F-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-F-HD1_VPNNAME" value="default"/>
    <add key="GMES-F-HD1_ID" value="admin"/>
    <add key="GMES-F-HD1_PW" value="admin"/>
    <add key="GMES-F-HD1_PROPERTIES" value=""/>
    <add key="GMES-F-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES/BIZACTOR_MES/FORM"/>
    <!-- 개발 PACK -->
    <add key="GMES-P-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-P-HD1_VPNNAME" value="default"/>
    <add key="GMES-P-HD1_ID" value="admin"/>
    <add key="GMES-P-HD1_PW" value="admin"/>
    <add key="GMES-P-HD1_PROPERTIES" value=""/>
    <add key="GMES-P-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES/BIZACTOR_MES/PACK"/>

    <!-- 통합테스트 전극 -->
    <!--
    <add key="GMES-E-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-E-HD1_VPNNAME" value="default"/>
    <add key="GMES-E-HD1_ID" value="admin"/>
    <add key="GMES-E-HD1_PW" value="admin"/>
    <add key="GMES-E-HD1_PROPERTIES" value=""/>
    <add key="GMES-E-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HD/BIZACTOR_MES/ELTR"/>-->
    <!-- 통합테스트 조립 -->
    <!--
    <add key="GMES-A-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-A-HD1_VPNNAME" value="default"/>
    <add key="GMES-A-HD1_ID" value="admin"/>
    <add key="GMES-A-HD1_PW" value="admin"/>
    <add key="GMES-A-HD1_PROPERTIES" value=""/>
    <add key="GMES-A-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HD/BIZACTOR_MES/ASSY"/>-->
    <!-- 통합테스트 활성화 -->
    <!--
    <add key="GMES-F-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-F-HD1_VPNNAME" value="default"/>
    <add key="GMES-F-HD1_ID" value="admin"/>
    <add key="GMES-F-HD1_PW" value="admin"/>
    <add key="GMES-F-HD1_PROPERTIES" value=""/>
    <add key="GMES-F-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HD/BIZACTOR_MES/FORM"/>-->
    <!-- 통합테스트 PACK -->
    <!--
    <add key="GMES-P-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-P-HD1_VPNNAME" value="default"/>
    <add key="GMES-P-HD1_ID" value="admin"/>
    <add key="GMES-P-HD1_PW" value="admin"/>
    <add key="GMES-P-HD1_PROPERTIES" value=""/>
    <add key="GMES-P-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HD/BIZACTOR_MES/PACK"/>-->

    <!-- MI2(ME) 실전 전극 -->
    <add key="GMES-E-ME_HOST" value="10.32.134.88"/>
    <add key="GMES-E-ME_VPNNAME" value="DEV/LGES/US/ESMI/MES"/>
    <add key="GMES-E-ME_ID" value="admin"/>
    <add key="GMES-E-ME_PW" value="admin"/>
    <add key="GMES-E-ME_PROPERTIES" value=""/>
    <add key="GMES-E-ME_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ELTR"/>
    <!-- MI2(ME) 실전 조립 -->
    <add key="GMES-A-ME_HOST" value="10.32.134.88"/>
    <add key="GMES-A-ME_VPNNAME" value="DEV/LGES/US/ESMI/MES"/>
    <add key="GMES-A-ME_ID" value="admin"/>
    <add key="GMES-A-ME_PW" value="admin"/>
    <add key="GMES-A-ME_PROPERTIES" value=""/>
    <add key="GMES-A-ME_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ASSY"/>
    <!-- MI2(ME) 실전 활성화  -->
    <add key="GMES-F-ME_HOST" value="10.32.134.88"/>
    <add key="GMES-F-ME_VPNNAME" value="DEV/LGES/US/ESMI/MES"/>
    <add key="GMES-F-ME_ID" value="admin"/>
    <add key="GMES-F-ME_PW" value="admin"/>
    <add key="GMES-F-ME_PROPERTIES" value=""/>
    <add key="GMES-F-ME_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/FORM"/>

    <!-- HD(HD1) 실전 전극 -->
    <!--
    <add key="GMES-E-HD1_HOST" value="10.228.114.228"/>
    <add key="GMES-E-HD1_VPNNAME" value="TST/LGES/US/ESHD/MES"/>
    <add key="GMES-E-HD1_ID" value="admin"/>
    <add key="GMES-E-HD1_PW" value="admin"/>
    <add key="GMES-E-HD1_PROPERTIES" value=""/>
    <add key="GMES-E-HD1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_UI/ELTR"/>-->
    <!-- HD(HD1) 실전 조립 -->
    <!--
    <add key="GMES-A-HD1_HOST" value="10.228.114.228"/>
    <add key="GMES-A-HD1_VPNNAME" value="TST/LGES/US/ESHD/MES"/>
    <add key="GMES-A-HD1_ID" value="admin"/>
    <add key="GMES-A-HD1_PW" value="admin"/>
    <add key="GMES-A-HD1_PROPERTIES" value=""/>
    <add key="GMES-A-HD1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_UI/ASSY"/>-->
    <!-- HD(HD1) 실전 활성화  -->
    <!--
    <add key="GMES-F-HD1_HOST" value="10.228.114.228"/>
    <add key="GMES-F-HD1_VPNNAME" value="TST/LGES/US/ESHD/MES"/>
    <add key="GMES-F-HD1_ID" value="admin"/>
    <add key="GMES-F-HD1_PW" value="admin"/>
    <add key="GMES-F-HD1_PROPERTIES" value=""/>
    <add key="GMES-F-HD1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_UI/FORM"/>-->
    <!-- HD 실전 PACK -->
    <!--
    <add key="GMES-P-HD1_HOST" value="10.228.114.228"/>
    <add key="GMES-P-HD1_VPNNAME" value="TST/LGES/US/ESHD/MES"/>
    <add key="GMES-P-HD1_ID" value="admin"/>
    <add key="GMES-P-HD1_PW" value="admin"/>
    <add key="GMES-P-HD1_PROPERTIES" value=""/>
    <add key="GMES-P-HD1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/PACK"/>-->

    <!-- LS(M3) 실전 전극 -->
    <add key="GMES-E-M3_HOST" value="10.84.202.229"/>
    <add key="GMES-E-M3_VPNNAME" value="TST/LGES/US/ESMIL/MES"/>
    <add key="GMES-E-M3_ID" value="admin"/>
    <add key="GMES-E-M3_PW" value="admin"/>
    <add key="GMES-E-M3_PROPERTIES" value=""/>
    <add key="GMES-E-M3_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ELTR"/>
    <!-- LS(M3) 실전 조립 -->
    <add key="GMES-A-M3_HOST" value="10.84.202.229"/>
    <add key="GMES-A-M3_VPNNAME" value="TST/LGES/US/ESMIL/MES"/>
    <add key="GMES-A-M3_ID" value="admin"/>
    <add key="GMES-A-M3_PW" value="admin"/>
    <add key="GMES-A-M3_PROPERTIES" value=""/>
    <add key="GMES-A-M3_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ASSY"/>
    <!-- LS(M3) 실전 활성화 -->
    <add key="GMES-F-M3_HOST" value="10.84.202.229"/>
    <add key="GMES-F-M3_VPNNAME" value="TST/LGES/US/ESMIL/MES"/>
    <add key="GMES-F-M3_ID" value="admin"/>
    <add key="GMES-F-M3_PW" value="admin"/>
    <add key="GMES-F-M3_PROPERTIES" value=""/>
    <add key="GMES-F-M3_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/FORM"/>
    <!-- MI3 실전 PACK  -->
    <add key="GMES-P-MI3_HOST" value="10.32.134.88"/>
    <add key="GMES-P-MI3_VPNNAME" value="DEV/LGES/US/ESMI/MES"/>
    <add key="GMES-P-MI3_ID" value="admin"/>
    <add key="GMES-P-MI3_PW" value="admin"/>
    <add key="GMES-P-MI3_PROPERTIES" value=""/>
    <add key="GMES-P-MI3_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/PACK_3A"/>

    <!-- ST(ST1) 실전 전극 -->
    <add key="GMES-E-ST1_HOST" value="10.92.16.87"/>
    <add key="GMES-E-ST1_VPNNAME" value="DEV/LGES/CA/ESST/MES"/>
    <add key="GMES-E-ST1_ID" value="admin"/>
    <add key="GMES-E-ST1_PW" value="admin"/>
    <add key="GMES-E-ST1_PROPERTIES" value=""/>
    <add key="GMES-E-ST1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ELTR"/>
    <!-- ST(ST1) 실전 조립 -->
    <add key="GMES-A-ST1_HOST" value="10.92.16.87"/>
    <add key="GMES-A-ST1_VPNNAME" value="DEV/LGES/CA/ESST/MES"/>
    <add key="GMES-A-ST1_ID" value="admin"/>
    <add key="GMES-A-ST1_PW" value="admin"/>
    <add key="GMES-A-ST1_PROPERTIES" value=""/>
    <add key="GMES-A-ST1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ASSY"/>
    <!-- ST(ST1) 실전 활성화 -->
    <add key="GMES-F-ST1_HOST" value="10.92.16.87"/>
    <add key="GMES-F-ST1_VPNNAME" value="DEV/LGES/CA/ESST/MES"/>
    <add key="GMES-F-ST1_ID" value="admin"/>
    <add key="GMES-F-ST1_PW" value="admin"/>
    <add key="GMES-F-ST1_PROPERTIES" value=""/>
    <add key="GMES-F-ST1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/FORM"/>

    <!-- ST(ST1) PACK 활성화 -->
    <add key="GMES-P-ST1_HOST" value="10.92.16.87"/>
    <add key="GMES-P-ST1_VPNNAME" value="DEV/LGES/CA/ESST/MES"/>
    <add key="GMES-P-ST1_ID" value="admin"/>
    <add key="GMES-P-ST1_PW" value="admin"/>
    <add key="GMES-P-ST1_PROPERTIES" value=""/>
    <add key="GMES-P-ST1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/PACK"/>
    <!-- HD(HD1) 실전 전극 -->
    <!--
    <add key="GMES-E-HD1_HOST" value="10.228.114.228"/>
    <add key="GMES-E-HD1_VPNNAME" value="TST/LGES/US/ESHD/MES"/>
    <add key="GMES-E-HD1_ID" value="admin"/>
    <add key="GMES-E-HD1_PW" value="admin"/>
    <add key="GMES-E-HD1_PROPERTIES" value=""/>
    <add key="GMES-E-HD1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_UI/ELTR"/>-->
    <!-- HD(HD1) 실전 조립 -->
    <!--
    <add key="GMES-A-HD1_HOST" value="10.228.114.228"/>
    <add key="GMES-A-HD1_VPNNAME" value="TST/LGES/US/ESHD/MES"/>
    <add key="GMES-A-HD1_ID" value="admin"/>
    <add key="GMES-A-HD1_PW" value="admin"/>
    <add key="GMES-A-HD1_PROPERTIES" value=""/>
    <add key="GMES-A-HD1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_UI/ASSY"/>-->
    <!-- HD(HD1) 실전 활성화  -->
    <!--
    <add key="GMES-F-HD1_HOST" value="10.228.114.228"/>
    <add key="GMES-F-HD1_VPNNAME" value="TST/LGES/US/ESHD/MES"/>
    <add key="GMES-F-HD1_ID" value="admin"/>
    <add key="GMES-F-HD1_PW" value="admin"/>
    <add key="GMES-F-HD1_PROPERTIES" value=""/>
    <add key="GMES-F-HD1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_UI/FORM"/>-->
    <!-- HD 실전 PACK -->
    <!--
    <add key="GMES-P-HD1_HOST" value="10.228.114.228"/>
    <add key="GMES-P-HD1_VPNNAME" value="TST/LGES/US/ESHD/MES"/>
    <add key="GMES-P-HD1_ID" value="admin"/>
    <add key="GMES-P-HD1_PW" value="admin"/>
    <add key="GMES-P-HD1_PROPERTIES" value=""/>
    <add key="GMES-P-HD1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/PACK"/>-->

    <!-- LS(M3) 실전 전극 -->
    <add key="GMES-E-M3_HOST" value="10.84.202.229"/>
    <add key="GMES-E-M3_VPNNAME" value="TST/LGES/US/ESMIL/MES"/>
    <add key="GMES-E-M3_ID" value="admin"/>
    <add key="GMES-E-M3_PW" value="admin"/>
    <add key="GMES-E-M3_PROPERTIES" value=""/>
    <add key="GMES-E-M3_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ELTR"/>
    <!-- LS(M3) 실전 조립 -->
    <add key="GMES-A-M3_HOST" value="10.84.202.229"/>
    <add key="GMES-A-M3_VPNNAME" value="TST/LGES/US/ESMIL/MES"/>
    <add key="GMES-A-M3_ID" value="admin"/>
    <add key="GMES-A-M3_PW" value="admin"/>
    <add key="GMES-A-M3_PROPERTIES" value=""/>
    <add key="GMES-A-M3_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ASSY"/>
    <!-- LS(M3) 실전 활성화 -->
    <add key="GMES-F-M3_HOST" value="10.84.202.229"/>
    <add key="GMES-F-M3_VPNNAME" value="TST/LGES/US/ESMIL/MES"/>
    <add key="GMES-F-M3_ID" value="admin"/>
    <add key="GMES-F-M3_PW" value="admin"/>
    <add key="GMES-F-M3_PROPERTIES" value=""/>
    <add key="GMES-F-M3_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/FORM"/>
    <!-- MI3 실전 PACK  -->
    <add key="GMES-P-MI3_HOST" value="10.32.134.88"/>
    <add key="GMES-P-MI3_VPNNAME" value="DEV/LGES/US/ESMI/MES"/>
    <add key="GMES-P-MI3_ID" value="admin"/>
    <add key="GMES-P-MI3_PW" value="admin"/>
    <add key="GMES-P-MI3_PROPERTIES" value=""/>
    <add key="GMES-P-MI3_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/PACK_3A"/>

    <!-- ST(ST1) 실전 전극 -->
    <add key="GMES-E-ST1_HOST" value="10.92.16.87"/>
    <add key="GMES-E-ST1_VPNNAME" value="DEV/LGES/CA/ESST/MES"/>
    <add key="GMES-E-ST1_ID" value="admin"/>
    <add key="GMES-E-ST1_PW" value="admin"/>
    <add key="GMES-E-ST1_PROPERTIES" value=""/>
    <add key="GMES-E-ST1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ELTR"/>
    <!-- ST(ST1) 실전 조립 -->
    <add key="GMES-A-ST1_HOST" value="10.92.16.87"/>
    <add key="GMES-A-ST1_VPNNAME" value="DEV/LGES/CA/ESST/MES"/>
    <add key="GMES-A-ST1_ID" value="admin"/>
    <add key="GMES-A-ST1_PW" value="admin"/>
    <add key="GMES-A-ST1_PROPERTIES" value=""/>
    <add key="GMES-A-ST1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ASSY"/>
    <!-- ST(ST1) 실전 활성화 -->
    <add key="GMES-F-ST1_HOST" value="10.92.16.87"/>
    <add key="GMES-F-ST1_VPNNAME" value="DEV/LGES/CA/ESST/MES"/>
    <add key="GMES-F-ST1_ID" value="admin"/>
    <add key="GMES-F-ST1_PW" value="admin"/>
    <add key="GMES-F-ST1_PROPERTIES" value=""/>
    <add key="GMES-F-ST1_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/FORM"/>

    <!-- HG 통테 전극 -->
    <!--
    <add key="GMES-E-HG_HOST" value="10.31.255.81"/>
    <add key="GMES-E-HG_VPNNAME" value="default"/>
    <add key="GMES-E-HG_ID" value="admin"/>
    <add key="GMES-E-HG_PW" value="admin"/>
    <add key="GMES-E-HG_PROPERTIES" value=""/>
    <add key="GMES-E-HG_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HG/BIZACTOR_MES/ELTR"/>-->
    <!-- HG 통테 조립 -->
    <!--
    <add key="GMES-A-HG_HOST" value="10.31.255.81"/>
    <add key="GMES-A-HG_VPNNAME" value="default"/>
    <add key="GMES-A-HG_ID" value="admin"/>
    <add key="GMES-A-HG_PW" value="admin"/>
    <add key="GMES-A-HG_PROPERTIES" value=""/>
    <add key="GMES-A-HG_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HG/BIZACTOR_MES/ASSY"/>-->
    <!-- HG 통테 활성화 -->
    <!--
    <add key="GMES-F-HG_HOST" value="10.31.255.81"/>
    <add key="GMES-F-HG_VPNNAME" value="default"/>
    <add key="GMES-F-HG_ID" value="admin"/>
    <add key="GMES-F-HG_PW" value="admin"/>
    <add key="GMES-F-HG_PROPERTIES" value=""/>
    <add key="GMES-F-HG_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HG/BIZACTOR_MES/FORM"/>-->

    <!-- HG 실전 전극 -->
    <add key="GMES-E-HG_HOST" value="10.112.18.52"/>
    <add key="GMES-E-HG_VPNNAME" value="TST/LGES/US/ESHG/MES"/>
    <add key="GMES-E-HG_ID" value="admin"/>
    <add key="GMES-E-HG_PW" value="admin"/>
    <add key="GMES-E-HG_PROPERTIES" value=""/>
    <add key="GMES-E-HG_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ELTR_A"/>
    <!-- HG 실전 조립 -->
    <add key="GMES-A-HG_HOST" value="10.112.18.52"/>
    <add key="GMES-A-HG_VPNNAME" value="TST/LGES/US/ESHG/MES"/>
    <add key="GMES-A-HG_ID" value="admin"/>
    <add key="GMES-A-HG_PW" value="admin"/>
    <add key="GMES-A-HG_PROPERTIES" value=""/>
    <add key="GMES-A-HG_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ASSY_A"/>
    <!-- HG 실전 활성화 -->
    <add key="GMES-F-HG_HOST" value="10.112.18.52"/>
    <add key="GMES-F-HG_VPNNAME" value="TST/LGES/US/ESHG/MES"/>
    <add key="GMES-F-HG_ID" value="admin"/>
    <add key="GMES-F-HG_PW" value="admin"/>
    <add key="GMES-F-HG_PROPERTIES" value=""/>
    <add key="GMES-F-HG_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/FORM_A"/>

    <!-- OC2_9S NFF 전극 실전 -->
    <add key="GMES-E-K2R_HOST" value="10.99.60.48"/>
    <add key="GMES-E-K2R_VPNNAME" value="DEV/LGES/KR/ESKO/MES"/>
    <add key="GMES-E-K2R_ID" value="admin"/>
    <add key="GMES-E-K2R_PW" value="admin"/>
    <add key="GMES-E-K2R_PROPERTIES" value=""/>
    <add key="GMES-E-K2R_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ELTR_9S"/>
    <!-- OC2_9S NFF 조립 실전 -->
    <add key="GMES-S-K2R_HOST" value="10.99.60.48"/>
    <add key="GMES-S-K2R_VPNNAME" value="DEV/LGES/KR/ESKO/MES"/>
    <add key="GMES-S-K2R_ID" value="admin"/>
    <add key="GMES-S-K2R_PW" value="admin"/>
    <add key="GMES-S-K2R_PROPERTIES" value=""/>
    <add key="GMES-S-K2R_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/ASSY_9S"/>
    <!-- OC2_9S NFF 활성화 실전 -->
    <add key="GMES-M-K2R_HOST" value="10.99.60.48"/>
    <add key="GMES-M-K2R_VPNNAME" value="DEV/LGES/KR/ESKO/MES"/>
    <add key="GMES-M-K2R_ID" value="admin"/>
    <add key="GMES-M-K2R_PW" value="admin"/>
    <add key="GMES-M-K2R_PROPERTIES" value=""/>
    <add key="GMES-M-K2R_QUEUE" value="PROC_TYPE/LGES_TST_ECM_MES/MES_EIF/FORM_9S"/>

    <!-- OC2_9S NFF 전극 병행 -->
    <!--
    <add key="GMES-E-K2R_HOST" value="10.31.255.81"/>
    <add key="GMES-E-K2R_VPNNAME" value="default"/>
    <add key="GMES-E-K2R_ID" value="admin"/>
    <add key="GMES-E-K2R_PW" value="admin"/>
    <add key="GMES-E-K2R_PROPERTIES" value=""/>
    <add key="GMES-E-K2R_QUEUE" value="PROC/LGES_DEV_ECM_MES_S/LESANERPTO2C01/BIZACTOR_MES_ELTR_01"/>-->
    <!-- OC2_9S NFF 조립 병행 -->
    <!--
    <add key="GMES-S-K2R_HOST" value="10.31.255.81"/>
    <add key="GMES-S-K2R_VPNNAME" value="default"/>
    <add key="GMES-S-K2R_ID" value="admin"/>
    <add key="GMES-S-K2R_PW" value="admin"/>
    <add key="GMES-S-K2R_PROPERTIES" value=""/>
    <add key="GMES-S-K2R_QUEUE" value="PROC/LGES_DEV_ECM_MES_S/LESANERPTO2C01/BIZACTOR_MES_ASSY_02"/>-->
    <!-- OC2_9S NFF 활성화 병행 -->
    <!--
    <add key="GMES-M-K2R_HOST" value="10.31.255.81"/>
    <add key="GMES-M-K2R_VPNNAME" value="default"/>
    <add key="GMES-M-K2R_ID" value="admin"/>
    <add key="GMES-M-K2R_PW" value="admin"/>
    <add key="GMES-M-K2R_PROPERTIES" value=""/>
    <add key="GMES-M-K2R_QUEUE" value="PROC/LGES_DEV_ECM_MES_S/LESANERPTO2C01/BIZACTOR_MES_FORM_03"/>-->

  </appSettings>
</configuration>