<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="GLOBAL_CONFIG_FILE_PATH" value= "C:\GMES\SFU\"/>
    <add key="GLOBAL_CONFIG_FILE_NAME" value="GMES.MES.Customconfig.confg"/>
    <add key="EQP_TEST_FILE_NAME" value="GMES.MES.EQP_TEST.confg"/>
    <add key="APP_CONFIG_MODE" value="DEBUG"/>
    <add key="APP_CONFIG_SYSTEM" value="SFU"/>
    <add key="APP_CONFIG_SBC_MODE" value="LOCAL"/>
    <add key="APP_CONFIG_REMOTE_CALL_SYSTEM" value="SOLACE"/>
    <add key="UPDATEVERSIONFILE" value="LGC.GMES.MES.UpdateVersion.config"/>

    <!-- HD =============================================================================================================================================================== -->
    <!-- 전극 솔라스 테스트-->
    <!--
    <add key="GMES-E-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-E-HD1_VPNNAME" value="DEV/LGES/ESOC"/>
    <add key="GMES-E-HD1_ID" value="admin"/>
    <add key="GMES-E-HD1_PW" value="admin"/>
    <add key="GMES-E-HD1_PROPERTIES" value=""/>
    <add key="GMES-E-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES/BIZACTOR/EG"/>

     -->
    <!-- 조립 솔라스 테스트-->

    <!--add key="GMES-A-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-A-HD1_VPNNAME" value="DEV/LGES/ESOC"/>
    <add key="GMES-A-HD1_ID" value="admin"/>
    <add key="GMES-A-HD1_PW" value="admin"/>
    <add key="GMES-A-HD1_PROPERTIES" value=""/>
    <add key="GMES-A-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES/BIZACTOR/AG"/>-->

    <!-- 활성화 솔라스 테스트-->
    <!--
    <add key="GMES-F-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-F-HD1_VPNNAME" value="DEV/LGES/ESOC"/>
    <add key="GMES-F-HD1_ID" value="admin"/>
    <add key="GMES-F-HD1_PW" value="admin"/>
    <add key="GMES-F-HD1_PROPERTIES" value=""/>
    <add key="GMES-F-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES/BIZACTOR/FG"/>

     -->
    <!-- PACK 솔라스 테스트-->
    <!--
    <add key="GMES-P-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-P-HD1_VPNNAME" value="DEV/LGES/ESOC"/>
    <add key="GMES-P-HD1_ID" value="admin"/>
    <add key="GMES-P-HD1_PW" value="admin"/>
    <add key="GMES-P-HD1_PROPERTIES" value=""/>
    <add key="GMES-P-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES/BIZACTOR/PG"/>-->

    <!-- =============================================================================================================================================================== -->

    <!-- 실전 테스트 -->
    <!-- HD 전극 솔라스 실전 -->
    <add key="GMES-E-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-E-HD1_VPNNAME" value="default"/>
    <add key="GMES-E-HD1_ID" value="admin"/>
    <add key="GMES-E-HD1_PW" value="admin"/>
    <add key="GMES-E-HD1_PROPERTIES" value=""/>
    <add key="GMES-E-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HD/BIZACTOR_MES/ELTR"/>

    <!-- HD 조립 솔라스 실전  -->
    <add key="GMES-A-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-A-HD1_VPNNAME" value="default"/>
    <add key="GMES-A-HD1_ID" value="admin"/>
    <add key="GMES-A-HD1_PW" value="admin"/>
    <add key="GMES-A-HD1_PROPERTIES" value=""/>
    <add key="GMES-A-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HD/BIZACTOR_MES/ASSY"/>

    <!-- HD 활성화 솔라스 실전  -->
    <add key="GMES-F-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-F-HD1_VPNNAME" value="default"/>
    <add key="GMES-F-HD1_ID" value="admin"/>
    <add key="GMES-F-HD1_PW" value="admin"/>
    <add key="GMES-F-HD1_PROPERTIES" value=""/>
    <add key="GMES-F-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HD/BIZACTOR_MES/FORM"/>

    <!-- HD PACK 솔라스 실전  -->
    <add key="GMES-P-HD1_HOST" value="10.31.255.81"/>
    <add key="GMES-P-HD1_VPNNAME" value="default"/>
    <add key="GMES-P-HD1_ID" value="admin"/>
    <add key="GMES-P-HD1_PW" value="admin"/>
    <add key="GMES-P-HD1_PROPERTIES" value=""/>
    <add key="GMES-P-HD1_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_HD/BIZACTOR_MES/PACK"/>

    <!-- HD 전극 솔라스 운영 -->
    <!--
    <add key="GMES-E-HD1_HOST" value="10.228.113.201,10.228.113.202"/>
    <add key="GMES-E-HD1_VPNNAME" value="PRD/LGES/US/ESHD/MES"/>
    <add key="GMES-E-HD1_ID" value="admin"/>
    <add key="GMES-E-HD1_PW" value="admin"/>
    <add key="GMES-E-HD1_PROPERTIES" value=""/>
    <add key="GMES-E-HD1_QUEUE" value="PROC_TYPE/LGES_PRD_ECM_MES/MES_UI/ELTR"/>

    -->
    <!-- HD 조립 솔라스 운영  -->
    <!--
    <add key="GMES-A-HD1_HOST" value="10.228.113.201,10.228.113.202"/>
    <add key="GMES-A-HD1_VPNNAME" value="PRD/LGES/US/ESHD/MES"/>
    <add key="GMES-A-HD1_ID" value="admin"/>
    <add key="GMES-A-HD1_PW" value="admin"/>
    <add key="GMES-A-HD1_PROPERTIES" value=""/>
    <add key="GMES-A-HD1_QUEUE" value="PROC_TYPE/LGES_PRD_ECM_MES/MES_UI/ASSY"/>

    -->
    <!-- HD 활성화 솔라스 운영  -->
    <!--
    <add key="GMES-F-HD1_HOST" value="10.228.113.201,10.228.113.202"/>
    <add key="GMES-F-HD1_VPNNAME" value="PRD/LGES/US/ESHD/MES"/>
    <add key="GMES-F-HD1_ID" value="admin"/>
    <add key="GMES-F-HD1_PW" value="admin"/>
    <add key="GMES-F-HD1_PROPERTIES" value=""/>
    <add key="GMES-F-HD1_QUEUE" value="PROC_TYPE/LGES_PRD_ECM_MES/MES_UI/FORM"/>

    -->
    <!-- HD PACK 솔라스 운영  -->
    <!--
    <add key="GMES-P-HD1_HOST" value="10.228.113.201,10.228.113.202"/>
    <add key="GMES-P-HD1_VPNNAME" value="PRD/LGES/US/ESHD/MES"/>
    <add key="GMES-P-HD1_ID" value="admin"/>
    <add key="GMES-P-HD1_PW" value="admin"/>
    <add key="GMES-P-HD1_PROPERTIES" value=""/>
    <add key="GMES-P-HD1_QUEUE" value="PROC_TYPE/LGES_PRD_ECM_MES/MES_UI/PACK"/>-->

    <!--GM2 전극 솔라스 병행-->
    <add key="GMES-E-TN_HOST" value="10.31.255.81"/>
    <add key="GMES-E-TN_VPNNAME" value="default"/>
    <add key="GMES-E-TN_ID" value="admin"/>
    <add key="GMES-E-TN_PW" value="admin"/>
    <add key="GMES-E-TN_PROPERTIES" value=""/>
    <add key="GMES-E-TN_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_GM2/BIZACTOR_MES/ELTR"/>

    <!--GM2 조립 솔라스 실전-->
    <add key="GMES-A-TN_HOST" value="10.31.255.81"/>
    <add key="GMES-A-TN_VPNNAME" value="default"/>
    <add key="GMES-A-TN_ID" value="admin"/>
    <add key="GMES-A-TN_PW" value="admin"/>
    <add key="GMES-A-TN_PROPERTIES" value=""/>
    <add key="GMES-A-TN_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_GM2/BIZACTOR_MES/ASSY"/>

    <!--GM2 활성화 솔라스 실전-->
    <add key="GMES-F-TN_HOST" value="10.31.255.81"/>
    <add key="GMES-F-TN_VPNNAME" value="default"/>
    <add key="GMES-F-TN_ID" value="admin"/>
    <add key="GMES-F-TN_PW" value="admin"/>
    <add key="GMES-F-TN_PROPERTIES" value=""/>
    <add key="GMES-F-TN_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_GM2/BIZACTOR_MES/FORM"/>

    <!--GM2 PACK 솔라스 실전-->
    <add key="GMES-P-ST_HOST" value="10.31.255.81"/>
    <add key="GMES-P-ST_VPNNAME" value="default"/>
    <add key="GMES-P-ST_ID" value="admin"/>
    <add key="GMES-P-ST_PW" value="admin"/>
    <add key="GMES-P-ST_PROPERTIES" value=""/>
    <add key="GMES-P-ST_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_GM2/BIZACTOR_MES/PACK"/>

    <!--OC2 NFF 전극 솔라스 실전-->
    <add key="GMES-E-K2_HOST" value="10.31.255.81"/>
    <add key="GMES-E-K2_VPNNAME" value="default"/>
    <add key="GMES-E-K2_ID" value="admin"/>
    <add key="GMES-E-K2_PW" value="admin"/>
    <add key="GMES-E-K2_PROPERTIES" value=""/>
    <add key="GMES-E-K2_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_OC2/BIZACTOR_MES/ELTR"/>

    <!--OC2 NFF 조립 솔라스 실전-->
    <add key="GMES-S-K2_HOST" value="10.31.255.81"/>
    <add key="GMES-S-K2_VPNNAME" value="default"/>
    <add key="GMES-S-K2_ID" value="admin"/>
    <add key="GMES-S-K2_PW" value="admin"/>
    <add key="GMES-S-K2_PROPERTIES" value=""/>
    <add key="GMES-S-K2_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_OC2/BIZACTOR_MES/ASSY"/>

    <!--OC2 NFF 활성화 솔라스 실전-->
    <add key="GMES-M-K2_HOST" value="10.31.255.81"/>
    <add key="GMES-M-K2_VPNNAME" value="default"/>
    <add key="GMES-M-K2_ID" value="admin"/>
    <add key="GMES-M-K2_PW" value="admin"/>
    <add key="GMES-M-K2_PROPERTIES" value=""/>
    <add key="GMES-M-K2_QUEUE" value="PROC_TYPE/LGES_DEV_ECM_MES_OC2/BIZACTOR_MES/FORM"/>

    <!--OC2 NFF 전극 솔라스 운영-->
    <!--
    <add key="GMES-E-K2_HOST" value="10.99.61.132,10.99.61.133"/>
    <add key="GMES-E-K2_VPNNAME" value="PRD/LGES/KR/ESKO/MES"/>
    <add key="GMES-E-K2_ID" value="admin"/>
    <add key="GMES-E-K2_PW" value="admin"/>
    <add key="GMES-E-K2_PROPERTIES" value=""/>
    <add key="GMES-E-K2_QUEUE" value="PROC_TYPE/LGES_PRD_ECM_MES2/MES_UI/ELTR"/>

    -->
    <!--OC2 NFF 조립 솔라스 운영-->
    <!--
    <add key="GMES-S-K2_HOST" value="10.99.61.132,10.99.61.133"/>
    <add key="GMES-S-K2_VPNNAME" value="PRD/LGES/KR/ESKO/MES"/>
    <add key="GMES-S-K2_ID" value="admin"/>
    <add key="GMES-S-K2_PW" value="admin"/>
    <add key="GMES-S-K2_PROPERTIES" value=""/>
    <add key="GMES-S-K2_QUEUE" value="PROC_TYPE/LGES_PRD_ECM_MES2/MES_UI/ASSY"/>

    -->
    <!--OC2 NFF 활성화 솔라스 운영-->
    <!--
    <add key="GMES-M-K2_HOST" value="10.99.61.132,10.99.61.133"/>
    <add key="GMES-M-K2_VPNNAME" value="PRD/LGES/KR/ESKO/MES"/>
    <add key="GMES-M-K2_ID" value="admin"/>
    <add key="GMES-M-K2_PW" value="admin"/>
    <add key="GMES-M-K2_PROPERTIES" value=""/>
    <add key="GMES-M-K2_QUEUE" value="PROC_TYPE/LGES_PRD_ECM_MES2/MES_UI/FORM"/>-->
    <!-- =============================================================================================================================================================== -->

  </appSettings>
</configuration>