<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    
    <add key="ShopCode" value="A010"/>
    <add key="AreaCode" value="T93"/>

    <add key="FTPUsed" value="TRUE"/>
    <add key="FTP" value="165.244.95.228"/>
    <add key="FTPID" value="ezmesapp01"/>
    <add key="FTPPassword" value="!ezmesapp123"/>

    <add key="GMES-E-KR_BizActorIP" value="165.244.95.228"/>
    <add key="GMES-E-KR_BizActorProtocol" value="tcp"/>
    <add key="GMES-E-KR_BizActorServiceIndex" value="0"/>
    <add key="GMES-E-KR_BizActorPort" value="7865"/>
    <add key="GMES-E-KR_BizActorServiceMode" value="SERVICE"/>
    <add key="GMES-E-KR_GLABELAccess" value="D"/>

    <add key="Extension" value="csv"/>
    <add key="DataFileFolder" value="D:\BISUP"/>
    <add key="SeparationType" value="0"/>
    
    <add key="DataBackupFolderUsed" value="TRUE"/>
    <add key="DataBackupFolder" value="D:\BISUP_BAK\CSV"/>
    <add key="ImageBackupFolderUsed" value="TRUE"/>
    <add key="ImageBackupFolder" value="D:\BISUP_BAK\IMAGE"/>

  </appSettings>
</configuration>
